.container {
    display: flex;
}

.canvas-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 800px;
    height: auto;
}

#ui-container {
    background-color: #fefefe;
    border-radius: 25px 25px 0px 0px;
    display: block;
    margin: 0 auto;
    width: 42%;
}

.slide-container {
    align-items: center;
    background-color: hsl(0, 60%, 90%);
    display: flex;
    height: 120px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
    z-index: 999;
}

.sliders-min-max-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.slider {
    cursor: pointer;
    width: 400px;
}

.slider-icon {
    width: 60px;
}

.submenu-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
}

.submenu-btn {
    width: 100px;
    height: 100px;
    background-color: #F26D6D;
    border: 0px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.select-hairstyle-btn {
    color: #fff;
    font-family: monospace;
    background-color: #7F7FC1;
    border: 0px solid #000000;
    height: 60px;
    width: 50%;
    margin: 5px;
}

.tabs-container {
    background-color: hsl(55, 70%, 70%);
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    opacity: 100%;
}

.current {
    opacity: 100%;
    background-color: #e6d200;
}

.current:hover {
    background-color: #e8df7d;
}

.tl {
    border-radius: 25px 0px 0px 0px;
}

.tab-icon {
    height: auto;
    opacity: 100%;
    width: 55px;
}

.not-selected {
    opacity: 50%;
}

.tab:hover,
.submenu-btn:hover,
.select-hairstyle-btn:hover {
    opacity: 50%;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }

    #ui-container {
        position: absolute;
        margin-top: 0%;
        width: 100vw;
        height: 100vh;
        padding-bottom: 8%;
        top: 50%;
        padding-top: 80px;
    }

    .canvas-container {
        align-items: center;
        display: flex;
        height: 50vh;
        justify-content: center;
        position: fixed;
        width: 100vw;
        z-index: 999;
    }

    .tabs-container {
        background-color: hsl(55, 70%, 70%);
        border-radius: 25px 25px 0px 0px;
        display: flex;
        position: fixed;
        justify-content: center;
        height: 70px;
        top: 50%;
        width: 100%;
        z-index: 999;
    }
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 380px;
    height: 38px;
    background: #ffffff;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 38px;
    height: 38px;
    background: #0065FF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    /* Set a specific slider handle width */
    height: 30px;
    /* Slider handle height */
    background: #0065FF;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}
